:root {
  --orange: #ff5c04;
  --pink: #ff044b;
  --green: #04ff71;
}

@keyframes button-hover {
  to {
    background-color: var(--orange);
    border: 6px solid black;
  }
}

@keyframes button-hover-text {
  to {
    color: black;
  }
}

td{
  font: aileron;
}

th{
  font-weight: normal;
  font: aileron;
}

.game-body{
  display: grid;
  grid-template-columns: 25vw auto;
}

.games-pane{
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  float: left;
}

.games-pane div a{
  color: #fff;
  text-decoration: none;
}

.games-pane div{
  transition: transform .2s; /* Animation */
  border-radius: 25px;
  padding: 2rem;
  border: 6px solid var(--orange);
}

.select-game {
  font-size: 24px;
}

.games-pane div:hover{
  transform: scale(1.1);
  animation: button-hover .5s;
  animation-fill-mode: forwards;
}

.games-pane div:hover a{
  animation: button-hover-text .5s;
  animation-fill-mode: forwards;
}