/* --------------------------------------------------------------------
* navbar
* --------------------------------------------------------------------*/
#page-header-navbar{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.navbar-title{
    padding: 1rem;
}
.navbar-nav-links{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.navbar-nav-links p {
    padding: 0 1rem;
    margin: 0;
}

/* --------------------------------------------------------------------
* colors
* --------------------------------------------------------------------*/

.red{
    background-color: #ff044b;
    color: #000;
}
.orange{
    background-color: #ff5c04;
    color: #fff;
}
.green{
    background-color: #04ff71;
    color: #000;
}

/* --------------------------------------------------------------------
* fonts
* --------------------------------------------------------------------*/

/* header */
.font-weight--1{
    font-size: 48px;
}
/* sub-header */
.font-weight--2{
    font-size: 32px;
}
/* body text */
.font-weight--3{
    font-size: 18px;
}
body{
    color: #fff;
}

/* --------------------------------------------------------------------
* margins & padding
* --------------------------------------------------------------------*/

/* header */
.top-margin--1{
    margin-top: 4rem !important;
}
/* sub-header */
.top-margin--2{
    margin-top: 3rem !important;
}
/* body text */
.top-margin--3{
    margin-top: 2rem !important;
}

/* header */
.bottom-margin--1{
    margin-bottom: 4rem !important;
}
/* sub-header */
.bottom-margin--2{
    margin-bottom: 3rem !important;
}
/* body text */
.bottom-margin--3{
    margin-bottom: 2rem !important;
}

.side-margin{
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

h2{
    margin: 0;
    padding: 2rem;
}

/* --------------------------------------------------------------------
* elements
* --------------------------------------------------------------------*/

button{
    font-size: 18px;
    border-radius: 48px;    /* we can play around with this */
    padding: 2rem;
    border: none !important;
}
.reset{
    color: #000;
    margin: auto;
}
