/* --------------------------------------------------------------------
* tic-tac-toe board
* --------------------------------------------------------------------*/

.top td{
  border-top: 1px solid white;
}

.bottom td{
  border-bottom: 1px solid white;
}

.center{
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.game-board{
  margin-right: 3rem;
}

.board{
  border-collapse: collapse;
  margin: auto;
  color: white;
}

.board td{
  font-size: xx-large;
  padding: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.reset{
  border: 2px solid white;
  color: white;
}

.won{
  background-color: #ff044b;
}

.clear{
  background-color: white;
  background-color: black;
  color: black;
  border-color: black;
}
